@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
header.header {
    height: 700px;
    background: url('../images/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: scroll;
}

#navbar-top {
    display: none;
}

#navbar-main {
    --bs-bg-opacity: 0;
    div.container {
        display: flex;
        background-color: white;
        margin: 30px auto;
        padding-left: 0;
        padding-right: 0;
        #block-exam-addtoanybuttons {
            order: 2;
            padding-left: $gutterM;
            padding-right: $gutterM;
        }
        #block-exam-searchform {
            order: 3;
            fieldset {
                background: none;
                padding: 0;
                input {
                    border-radius: 0;
                }
            }
            div.form-actions {
                background: none;
                padding: 0;
                button {
                    border-radius: 0;
                    background: none;
                    color: transparent;
                    background: url('../images/ico/search.png');
                    background-size: 25px 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-color: #dbdbdb;
                    padding-left: 0;
                    padding-right: 0;
                    &:hover {
                        background-color: #dbdbdb;
                        text-decoration: none;
                    }
                }
            }
        }
        #CollapsingNavbar {
            justify-content: center !important;
        }
        li:nth-child(1) {
            color: transparent;
            background: url('../images/ico/Homepage.png');
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            a {
                color: transparent !important;
            }
            a:hover:after {
                left: 0;
                right: 0;
                position: absolute;
                content: "";
                height: 7px;
                top: 67px;
                width: 50%;
                margin: 0 auto;
                background: $blue-shade;
            }
        }
        li {
            position: relative;
            padding-left: 5px;
            padding-right: 5px;
            a:hover:after {
                left: 0;
                right: 0;
                position: absolute;
                content: "";
                height: 7px;
                top: 67px;
                width: 80%;
                margin: 0 auto;
                background: $blue-shade;
            }
        }
    }
}

.slogan {
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 0;
}

#block-logoslogan {
    background-color: $text-color;
    padding: 30px 20px;
}

#CollapsingNavbar {
    color: $text-color;
    a {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 600;
    }
}
 
.creativity-title {
    font-size: 80px;
    color: white;
    margin: 0;
}

.creativity-slogan {
    font-size: 50px;
    font-weight: bold;
    color: $text-color; 
    margin-top: -36px;
    margin-bottom: 0;
}

.creativity-text {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.1;
    color: $blue-shade;
    margin-top: -10px;
    margin-bottom: 0;
}

#block-creativity {
    max-width: 500px;
    left: 365px;
    margin-top: -433px;
    position: absolute;
    text-transform: uppercase;
}
