h2 {
    font-weight: 600;
    text-transform: uppercase;    
    text-align: center;
    margin: 70px $gutterS 30px $gutterS;
    overflow: hidden;
    &:before,
    &:after {
        content: '\a0';
        background-color: $light-gray;
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &:before {
        right: 0.5em;
        margin-left: -50%;
       }
    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}    

.view-services {
    div.views-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        margin-top: 46px;
        margin-bottom: 30px;
    }
}

.views-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p {
        color: $light-gray;
        line-height: 1.3;
        letter-spacing: -0.2px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
    }
    & >div:last-child {
        background-color: $blue-shade;
        padding: 5px 10px;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: #c3bfac;
                opacity: 0.8;
            }
        }
    }
}

.image-style-medium {
    margin-bottom: $gutterL;
}

.views-field-field-header {
    font-weight: bold;
    color: $text-color;
    margin-bottom: $gutterS;
    a{
        font-size: 22px;
        color: inherit;
        &:hover {
            color: $blue-shade;
            text-decoration: none;
        }
    }
}